{{ form_start(form) }}

  <img src="{{ vich_uploader_asset(recipe, 'thumbnailFile')  }} alt="">

    {{ form_widget(form) }}
        <button class="btn">{{ button_label|default('Save') }}</button>

  
{{ form_end(form) }}
